.slider-container {
  position: relative;
  user-select: none;
  cursor: all-scroll;
  overflow: hidden;
  height: 500px;
}

.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;
}

.slider-control.left {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0, transparent 100%);
}

.slider-control.right {
  right: 0;
  background: linear-gradient(to right, transparent 0, rgba(0, 0, 0, 0.18) 100%);
}

.slider-control.inactive:hover {
  cursor: auto;
}

.slider-control:not(.inactive):hover {
  opacity: 1;
  cursor: pointer;
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  font-size: 0;
  list-style-type: none;
}

.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 1px solid #98a58a;
  cursor: pointer;
}

.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.4rem;
  height: 0.4rem;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: translate(-50%, -50%) scale(0);
}

.slider-pagi__elem.active:before {
  transform: translate(-50%, -50%) scale(1);
}

.slider-pagi__elem:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
}

.slider.animating {
  transition: transform 0.5s;
  will-change: transform;
}

.slider.animating .slide__bg {
  transition: transform 0.5s;
  will-change: transform;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide.active .slide__overlay {
  opacity: 1;
  transform: translateX(0);
}

.slide.active .slide__text {
  opacity: 1;
  transform: translateX(0);
}

.slide:nth-child(1) {
  left: 0;
}

.slide:nth-child(1) .slide__bg {
  left: 0;
  background-image: url("../img/cream_slide.jpg");
}

.slide:nth-child(1) .slide__overlay-path {
  fill: #3b471f;
}

.slide:nth-child(2) {
  left: 100%;
}

.slide:nth-child(2) .slide__bg {
  left: -50%;
  background-image: url("../img/cream_slide2.jpg");
}

.slide:nth-child(2) .slide__overlay-path {
  fill: #3b471f;
}

.slide:nth-child(3) {
  left: 200%;
}

.slide:nth-child(3) .slide__bg {
  left: -100%;
  background-image: url("../img/cream_slide3.jpg");
}

.slide:nth-child(3) .slide__overlay-path {
  fill: #3b471f;
}

.slide:nth-child(4) {
  left: 300%;
}

.slide:nth-child(4) .slide__bg {
  left: -150%;
  background-image: url("../img/cream_slide.jpg");
}

.slide:nth-child(4) .slide__overlay-path {
  fill: #cbc6c3;
}

.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
}

@media (max-width: 991px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(233, 156, 126, 0.8);
  }
  .slide:nth-child(2) .slide__text {
    background-color: rgba(225, 204, 174, 0.8);
  }
  .slide:nth-child(3) .slide__text {
    background-color: rgba(173, 197, 205, 0.8);
  }
  .slide:nth-child(4) .slide__text {
    background-color: rgba(203, 198, 195, 0.8);
  }
  .slide__overlay {
    display: none;
  }
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20rem;
    text-align: center;
    transform: translateY(50%);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    padding: 0 1rem;
  }
  .slide__text-heading {
    line-height: 20rem;
    font-size: 3.5rem;
  }
  .slide__text-desc {
    display: none;
  }
  .slide__text-link {
    display: none;
  }
}

.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
}

.slide__overlay path {
  opacity: 0.8;
}

.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 12%;
  color: #fff;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  transform: translateY(-50%);
  opacity: 0;
}

.slide__text .slide__text-heading {
  font-family: Exo 2, Helvetica, Arial, sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.slide__text .slide__text-desc {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.09em;
  color: #cbc6c3;
}

.slide__text button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-top: 3%;
}

.slide__text button.learn-more {
  width: 12rem;
  height: auto;
}

.slide__text button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #98a58a;
  border-radius: 1.625rem;
}

.slide__text button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.slide__text button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.slide__text button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.slide__text button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #98a58a;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.slide__text button:hover .circle {
  width: 100%;
}

.slide__text button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.slide__text button:hover .button-text {
  color: #fff;
}

@supports (display: grid) {
  .slide__text body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }
  .slide__text #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}

.slide__text .test {
  color: rebeccapurple;
}
