.production {
  background: #f8f9f6 url("img/provans.png") top center no-repeat fixed;
  padding-top: 0px;
  text-align: center;
}

.production .product {
  padding: 5px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 200px 200px 700px 100px;
  grid-template-rows: 400px;
  margin-bottom: 50px;
}

.production .product .data_holder .cat {
  font-size: 25px;
  margin-bottom: 30px;
  color: #888888;
  letter-spacing: .05em;
}

.production .product .data_holder h3 {
  font-size: 35px;
  color: #3b471f;
  margin: 15px;
}

.production .product .data_holder p {
  line-height: 20px;
}

.production .product .prices {
  font-size: 1.5rem;
}

.production .product .composit {
  text-align: left;
}

.production .product .composit p {
  margin: 20px;
  text-align: left;
  line-height: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.01rem;
}

.production:hover {
  background: linear-gradient(to top right, #a0a0a0, #9b9a9a);
}

.production:hover p, .production:hover span, .production:hover h3, .production:hover .cat, .production:hover a {
  color: white;
}
