@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap");
* {
  width: 100%;
  max-width: 1400px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

html, body {
  max-width: 1400px;
  font-family: 'Playfair', serif;
  box-sizing: border-box;
  overflow-x: hidden; }

.wrapper {
  width: 90%;
  max-width: 1169px;
  margin: auto; }

header {
  background-image: url("../img/general.png");
  color: #fff;
  height: 100vh;
  width: 100%;
  position: relative; }
  header .text_box {
    padding: 20% 0;
    text-align: center; }
    header .text_box h1 {
      font-size: 3em;
      letter-spacing: 0.038em;
      text-transform: uppercase; }
      header .text_box h1:after {
        content: '';
        height: 3px;
        width: 86px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 45%; }
    header .text_box p {
      max-width: 40%;
      margin-top: 4.2%;
      margin-left: 30%;
      font-size: 1.25em;
      line-height: 1.8em;
      letter-spacing: .05em; }
    header .text_box button.scroll_down {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      height: 50px;
      width: 30px;
      bottom: 60px;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 20px;
      cursor: pointer;
      outline: none; }
      header .text_box button.scroll_down:before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: '';
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #fff;
        border-radius: 100%;
        -webkit-animation: scroll_down_btn-animation 2s infinite;
        animation: scroll_down_btn-animation 2s infinite;
        box-sizing: border-box; }

@keyframes scroll_down_btn-animation {
  0% {
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    opacity: 0; } }

.intro {
  padding: 10% 0;
  color: #222222;
  text-align: center;
  margin: auto;
  position: relative; }
  .intro h2 {
    text-transform: uppercase;
    font-size: 1.8em;
    line-height: 3.75em;
    font-weight: 900; }
    .intro h2:after {
      content: '';
      height: 3px;
      width: 86px;
      background: #222222;
      position: absolute;
      top: 50%;
      left: 47%; }
  .intro p {
    font-size: 1.375em;
    line-height: 2em;
    max-width: 780px;
    margin-left: 5vw;
    margin-top: 3vw; }

.button {
  background: url("../img/button.png") center;
  height: 496px; }
  .button .button__cli {
    border: 3px solid #fff;
    padding: 1% 6%;
    display: inline-block;
    border-radius: 2%;
    width: 20%;
    margin-left: 35%;
    margin-top: 15%; }
  .button a {
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    text-align: center;
    font-size: 1.875em;
    letter-spacing: .04em;
    line-height: 2em; }

.gallery {
  text-align: center;
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%; }
  .gallery h2 {
    font-size: 1.8em;
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase; }
    .gallery h2:after {
      content: '';
      height: 3px;
      width: 86px;
      background: #222222;
      position: absolute;
      top: 15%;
      left: 47%; }
  .gallery ul {
    margin: 15% 0 7% 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    width: inherit;
    margin-left: 13%; }
    .gallery ul li {
      font-size: 1em;
      text-transform: uppercase;
      transition: 1s ease-in-out;
      color: #3c3c3c; }
      .gallery ul li:hover {
        font-weight: 700;
        transition: 1s ease-in-out; }
      .gallery ul li:first-child {
        font-weight: 900; }
  .gallery__grid {
    padding: 1%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 23.5%);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px; }
    .gallery__grid .snip1467 {
      position: relative;
      overflow: hidden;
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: 16px;
      background-color: #222222;
      line-height: 1.5em; }
      .gallery__grid .snip1467 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.25s linear;
        transition: all 0.25s linear; }
        .gallery__grid .snip1467 *:before, .gallery__grid .snip1467 *:after {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all 0.25s linear;
          transition: all 0.25s linear; }
      .gallery__grid .snip1467 img {
        width: calc(120%);
        backface-visibility: hidden;
        vertical-align: top;
        -webkit-transform: translate(-40px);
        transform: translate(-40px); }
      .gallery__grid .snip1467 figcaption {
        position: absolute;
        top: 50%;
        width: 100%;
        -webkit-transform: translateY(-20%);
        transform: translateY(-20%);
        padding: 5px 40px;
        opacity: 0; }
      .gallery__grid .snip1467 h3 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 700; }
      .gallery__grid .snip1467 p {
        font-weight: 400;
        margin: 0;
        font-size: 0.9em; }
      .gallery__grid .snip1467 a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
      .gallery__grid .snip1467:hover img, .gallery__grid .snip1467.hover img {
        zoom: 1;
        filter: alpha(opacity=10);
        -webkit-opacity: 0.1;
        opacity: 0.1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        border: 5px solid #000; }
      .gallery__grid .snip1467:hover figcaption, .gallery__grid .snip1467.hover figcaption {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 1; }

.button_2 {
  background: url("../img/btn2.png") center;
  height: 496px; }
  .button_2 .button__cli {
    border: 3px solid #fff;
    padding: 1% 6%;
    display: inline-block;
    border-radius: 2%;
    width: 20%;
    margin-left: 35%;
    margin-top: 15%; }
  .button_2 a {
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    text-align: center;
    font-size: 1.875em;
    letter-spacing: .04em;
    line-height: 2em; }

.clients {
  padding: 10% 0;
  position: relative;
  text-align: center;
  background: #e4e4e4; }
  .clients h2 {
    font-size: 1.8em;
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase; }
    .clients h2:after {
      content: '';
      height: 3px;
      width: 86px;
      background: #222222;
      position: absolute;
      top: 55%;
      left: 47%; }
  .clients__logo {
    display: flex;
    margin-top: 10%;
    justify-content: center;
    margin-left: 5%; }
    .clients__logo img {
      max-width: 100px;
      margin-right: 5%; }

.about_us {
  margin-top: 10%;
  text-align: center; }
  .about_us h2 {
    font-size: 1.8em;
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase; }
    .about_us h2:after {
      content: '';
      height: 3px;
      width: 86px;
      background: #222222;
      position: absolute;
      top: 15%;
      left: 47%; }
  .about_us .photo {
    display: flex;
    justify-content: center;
    margin-top: 5%; }
    .about_us .photo figure.snip1156 {
      color: #000;
      position: relative;
      overflow: hidden;
      margin: 10px;
      max-width: 150px;
      max-height: 250px;
      width: 100%;
      background: #ffffff;
      color: #000000;
      text-align: center; }
      .about_us .photo figure.snip1156 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease; }
      .about_us .photo figure.snip1156 img {
        opacity: 1;
        width: 100%;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s; }
      .about_us .photo figure.snip1156 figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        .about_us .photo figure.snip1156 figcaption > div {
          height: 50%;
          overflow: hidden;
          width: 100%;
          position: relative; }
        .about_us .photo figure.snip1156 figcaption .link {
          height: 20px;
          width: 20px;
          float: right;
          margin: 5%; }
      .about_us .photo figure.snip1156 h2, .about_us .photo figure.snip1156 p {
        margin: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
        left: 0; }
      .about_us .photo figure.snip1156 h2 {
        padding: 0 30px;
        display: inline-block;
        font-weight: 400;
        text-transform: uppercase;
        bottom: 0;
        -webkit-transform: translate3d(0%, 150%, 0);
        transform: translate3d(0%, 150%, 0); }
        .about_us .photo figure.snip1156 h2 span {
          font-weight: 400; }
      .about_us .photo figure.snip1156 p {
        padding: 0 50px;
        font-size: 0.8em;
        font-weight: 500;
        -webkit-transform: translate3d(0%, -150%, 0);
        transform: translate3d(0%, -150%, 0); }
      .about_us .photo figure.snip1156 a {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute; }
      .about_us .photo figure.snip1156:hover img, .about_us .photo figure.snip1156.hover img {
        opacity: 0.3;
        -webkit-filter: grayscale(1%);
        filter: grayscale(1%); }
      .about_us .photo figure.snip1156:hover figcaption h2, .about_us .photo figure.snip1156.hover figcaption h2, .about_us .photo figure.snip1156:hover figcaption p, .about_us .photo figure.snip1156.hover figcaption p {
        -webkit-transform: translate3d(0%, 0%, 0);
        transform: translate3d(0%, 0%, 0); }
      .about_us .photo figure.snip1156:hover figcaption h2, .about_us .photo figure.snip1156.hover figcaption h2 {
        opacity: 0.9; }
      .about_us .photo figure.snip1156:hover figcaption p, .about_us .photo figure.snip1156.hover figcaption p {
        opacity: 0.6; }
