@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$dark-c: #262f32;
$white-col: #fff;


* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100%;
    max-width: 1370px;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;

    header {
        .head__bar {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 715px;

            .to__right {
                background-color: #f3f3f3;
            }
        }

        .to__right {
            h2 {
                    font-size: 45.712px;
                    font-family: "Roboto";
                    color: rgb(38, 47, 50);
                    line-height: 1.444;
                    -moz-transform: matrix( 0.87414747844455,0,0,0.87504943920782,0,0);
                    -webkit-transform: matrix( 0.87414747844455,0,0,0.87504943920782,0,0);
                    -ms-transform: matrix( 0.87414747844455,0,0,0.87504943920782,0,0);
                    position: absolute;
                    left: 941.715px;
                    top: 100px;
                    width: 319px;
                    height: 176px;
                    z-index: 14;
                    font-weight: 400;
                  

                span {
                   font-weight: 700; 
                }
            }

            p {
                    font-size: 20.57px;
                    font-family: "Roboto";
                    color: rgb(38, 47, 50);
                    line-height: 1.556;
                    -moz-transform: matrix( 0.87414747844455,0,0,0.87504943920782,0,0);
                    -webkit-transform: matrix( 0.87414747844455,0,0,0.87504943920782,0,0);
                    -ms-transform: matrix( 0.87414747844455,0,0,0.87504943920782,0,0);
                    position: absolute;
                    left: 936.462px;
                    top: 390.907px;
                    width: 350px;
                    height: 239.987px;
                    z-index: 16;
            }
        }
    }
    
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .vertical__main {
             grid-column-start: 1;
             grid-column-end: 2;
             grid-row-start: 1;
             grid-row-end: 3;
        }

        .top__main {
             grid-column-start: 2;
             grid-column-end: 3;
             grid-row-start: 1;
             grid-row-end: 2;  
        }

        .bottom__main {
             grid-column-start: 2;
             grid-column-end: 3;
             grid-row-start: 2;
             grid-row-end: 3;
        }
              
    }
}