/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 480px)
  .head__menu
    margin: 0 !important
    padding: 0 !important

    #menu
      min-width: 230px !important

    .container
      display: block !important

      h1
        text-align: center

      ul
        flex-flow: column
        margin: 0

  .general__block
    .container
      grid-template-columns: 1fr !important

      .right__side
        grid-row: 2 / 3 !important
  .my__skills
    .stats-container
      display: block !important
  .info__block
    margin-top: 5vh !important
    margin-bottom: 5vh !important

    .container
      grid-template-columns: 95vw !important
      justify-content: center
      align-items: center
      padding: 0
      margin: 0

      .left__bar
        justify-content: center
        align-content: center
        align-items: center
        justify-items: center

  footer
    ul
      grid-template-columns: 1fr !important
      grid-gap: 3vh
