@import "vars"


.head__menu
  #menu
    z-index: 2


.timeline

  ul
    list-style: none
    display: grid
    grid-template-columns: 1fr 1fr
    padding: 0 10vw
    margin-bottom: 20vh

    li
      position: relative

      .left
        text-align: end

      .right
        text-align: start

      &:nth-child(3), &:nth-child(6)
        grid-column: 2/3
        div:nth-child(2)
         padding: 0 0 0 2vw
        .btn-draw
          &::after
            left: 0

      &:nth-child(1), &:nth-child(4), &:nth-child(7)
        padding: 0 2vw 0 0

  &::before
    content: ""
    position: absolute
    left: 50%
    height: 1080px
    width: 2px
    background: gray

  .concentric-circles
    width: 7px
    height: 7px
    background-color: $white
    border-radius: 50%
    transform: translateX(-50%)
    transition: all 0.2s ease-in-out
    animation: ripple 2.0s 0.2s infinite
    -webkit-animation: ripple 2.0s 0.2s infinite

    &:hover
      transform: translateX(-50%) scale(1.5)
      @-webkit-keyframes ripple
        50%
          box-shadow: 0px 0px 0px 2px $back-l, 0px 0px 2px 3px $pink

        100%
          box-shadow: 0px 0px 0px 2px $back-l, 0px 0px 2px 3px $pink, 0px 0px 0px 6px darken($pink, 2%), 0px 0px 4px 10px lighten($back-l, 3%)

  .part
    .btn-draw
      display: block
      margin-bottom: 5%
      padding: 0
      font-size: 1.5rem
      text-decoration: none
      color: lighten($dark, 20%)
      position: relative
      transition: all .5s cubic-bezier(.2, 0, 0, 2)
      z-index: 1

      &:after
        content: ''
        display: block
        height: 1px
        position: absolute
        bottom: 0
        right: 0rem
        background-color: $pink
        transition: all .3s cubic-bezier(.2, 0, 0, 1)
        transform-origin: bottom center
        z-index: -1
        width: 50%

      &:hover
        color: lighten($back-l, 3%)
        transition: .5s ease-in-out

        &:after
          right: 0rem
          height: 100%


    .time, .hash
      color: lighten($dark, 60%)
      margin: 0
      padding: 0

    p
      color: lighten($back-d, 15%)


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 480px)
  .timeline
    ul
      grid-template-columns: 1fr !important
      li
        div:nth-child(2)
          padding: 0 0 0 5vw !important
        &:nth-child(1), &:nth-child(4), &:nth-child(7)
          padding: 0 0 0 5vw
        .left
          text-align: start
        &:nth-child(3), &:nth-child(6)
          grid-column: 1/3
        .btn-draw
          &::after
            left: 0

    &::before
      left: 10%
      height: 150vh
