@font-face {
    font-family: 'Fivo Sans Medium';
    src: local('Fivo Sans Medium'), local('FivoSans-Medium'), url('Fivosansmedium.woff2') format('woff2'), url('Fivosansmedium.woff') format('woff'), url('Fivosansmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Fivo Sans';
    src: local('Fivo Sans Medium Oblique'), local('FivoSans-MediumOblique'), url('Fivosansmediumoblique.woff2') format('woff2'), url('Fivosansmediumoblique.woff') format('woff'), url('Fivosansmediumoblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Fivo Sans Oblique';
    src: local('Fivo Sans Oblique'), local('FivoSans-Oblique'), url('Fivosansoblique.woff2') format('woff2'), url('Fivosansoblique.woff') format('woff'), url('Fivosansoblique.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Fivo Sans';
    src: local('Fivo Sans Thin Oblique'), local('FivoSans-ThinOblique'), url('Fivosansthinoblique.woff2') format('woff2'), url('Fivosansthinoblique.woff') format('woff'), url('Fivosansthinoblique.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Fivo Sans';
    src: local('Fivo Sans Thin'), local('FivoSans-Thin'), url('Fivosansthin.woff2') format('woff2'), url('Fivosansthin.woff') format('woff'), url('Fivosansthin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Fivo Sans Light';
    src: local('Fivo Sans Light'), local('FivoSans-Light'), url('Fivosanslight.woff2') format('woff2'), url('Fivosanslight.woff') format('woff'), url('Fivosanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Fivo Sans Regular';
    src: local('Fivo Sans Regular'), local('FivoSans-Regular'), url('Fivosansregular.woff2') format('woff2'), url('Fivosansregular.woff') format('woff'), url('Fivosansregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fivo Sans';
    src: local('Fivo Sans Black'), local('FivoSans-Black'), url('Fivosansblack.woff2') format('woff2'), url('Fivosansblack.woff') format('woff'), url('Fivosansblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Fivo Sans';
    src: local('Fivo Sans Bold Oblique'), local('FivoSans-BoldOblique'), url('Fivosansboldoblique.woff2') format('woff2'), url('Fivosansboldoblique.woff') format('woff'), url('Fivosansboldoblique.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Fivo Sans Bold';
    src: local('Fivo Sans Bold'), local('FivoSans-Bold'), url('Fivosansbold.woff2') format('woff2'), url('Fivosansbold.woff') format('woff'), url('Fivosansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Fivo Sans';
    src: local('Fivo Sans Black Oblique'), local('FivoSans-BlackOblique'), url('Fivosansblackoblique.woff2') format('woff2'), url('Fivosansblackoblique.woff') format('woff'), url('Fivosansblackoblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Fivo Sans Heavy';
    src: local('Fivo Sans Heavy'), local('FivoSans-Heavy'), url('Fivosansheavy.woff2') format('woff2'), url('Fivosansheavy.woff') format('woff'), url('Fivosansheavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Fivo Sans';
    src: local('Fivo Sans Light Oblique'), local('FivoSans-LightOblique'), url('Fivosanslightoblique.woff2') format('woff2'), url('Fivosanslightoblique.woff') format('woff'), url('Fivosanslightoblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Fivo Sans';
    src: local('Fivo Sans Heavy Oblique'), local('FivoSans-HeavyOblique'), url('Fivosansheavyoblique.woff2') format('woff2'), url('Fivosansheavyoblique.woff') format('woff'), url('Fivosansheavyoblique.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
