* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: code-pro,sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  text-decoration: none;
  font-size: 20px;
}
