@import url("https://fonts.googleapis.com/css?family=PT+Mono&display=swap&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=cyrillic");
* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #e9e8e4;
}

body {
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "PT Mono", monospace;
  font-weight: 300;
  overflow-x: hidden;
  opacity: 1;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  width: 100%;
}

.head__menu {
  padding: 1.5vw;
}

.head__menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head__menu h1 {
  font-size: 1.3em;
  color: #aa9298;
}

.head__menu ul {
  list-style: none;
  display: flex;
  margin-right: 25%;
}

.head__menu ul li {
  margin-right: 50%;
  font-size: .9em;
}

.head__menu ul li a {
  color: #111;
}

.head__menu ul li a:hover {
  color: #9eb99a;
}

.general__block {
  width: 100%;
  margin-top: 5%;
}

.general__block .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.general__block .container .left__side {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 20px;
}

.general__block .container .left__side h2 {
  font-family: "Caveat", cursive;
  font-size: 4em;
  font-weight: 100;
}

.general__block .container .left__side p {
  margin-top: 20%;
  max-width: 35vw;
  text-align: right;
}

.general__block .container .right__side {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.general__block .container .right__side img {
  width: 100%;
  max-width: 1000px;
  max-height: 1000px;
}

.my__skills {
  padding: 10%;
  background: #3f4243;
  color: #e9e8e4;
  width: 100%;
  max-width: 1400px;
  text-align: center;
}

.my__skills h2 {
  font-size: 3em;
  font-weight: 300;
}

/* Stats */
.stats-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-content: center;
}

.stat-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 20%;
  padding: 2%;
}

.stat-item img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.stat-path, .stat-back {
  stroke-linecap: round;
  stroke-width: 2;
  fill: none;
}

@media only screen and (max-width: 580px) {
  .stat-item {
    width: 50%;
  }
}

/* Tooltip */
.tooltip .tooltiptext {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 6px 12px;
  background: #dddddd;
  color: #e9e8e4;
  letter-spacing: 1px;
  text-align: center;
  white-space: nowrap;
  visibility: hidden;
  z-index: 1;
}

.tooltip .tooltiptext span {
  display: block;
  color: #ffffff;
}

.tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent currentColor transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .fab {
  position: absolute;
  top: 35%;
  left: 35%;
}

.tooltip .fa-gulp {
  left: 40%;
  color: #DB4446;
}

.tooltip .fa-js {
  color: #F0DB4F;
}

.tooltip .fa-html5 {
  color: #FF8C00;
}

.tooltip .fa-sass {
  color: #F08080;
}

.tooltip .fa-github-alt {
  color: #111;
}

.tooltip .fa-adobe {
  color: #4682B4;
}

.info__block {
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.info__block .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info__block .container .left__bar img {
  max-width: 500px;
}

footer {
  background: #3f4243;
}
