h1 a {
  color: #aa9298;
}

h1 a:focus {
  color: #94757d;
}

.timeline {
  position: relative;
  margin: 50px auto;
  width: 1000px;
}

.timeline ul {
  padding: 2%;
  list-style: none;
}

.timeline ul li {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  padding: 2%;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
  margin-right: -5%;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
  margin-left: -5%;
}

.timeline ul li:nth-child(even) .btn-draw:after {
  left: 0rem;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  width: 2px;
  background: gray;
}

.timeline .concentric-circles {
  width: 7px;
  height: 7px;
  position: absolute;
  left: 36.9vw;
  background-color: #3f4243;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  animation: ripple 2.0s 0.2s infinite;
  -webkit-animation: ripple 2.0s 0.2s  infinite;
}

.timeline .concentric-circles:hover {
  transform: translateX(-50%) scale(1.5);
}

@-webkit-keyframes ripple {
  50% {
    box-shadow: 0px 0px 0px 2px #e9e8e4, 0px 0px 2px 3px #aa9298;
  }
  100% {
    box-shadow: 0px 0px 0px 2px #e9e8e4, 0px 0px 2px 3px #aa9298, 0px 0px 0px 6px #a68c93, 0px 0px 4px 10px #f0efec;
  }
}

.timeline .concentric-circles.even {
  left: -0vw;
}

.timeline .part .btn-draw {
  display: block;
  margin-bottom: 5%;
  padding: 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: #444444;
  position: relative;
  transition: all 0.5s cubic-bezier(0.2, 0, 0, 2);
  z-index: 1;
}

.timeline .part .btn-draw:after {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0rem;
  background-color: #aa9298;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  transform-origin: bottom center;
  z-index: -1;
  width: 50%;
}

.timeline .part .btn-draw:hover {
  color: #f0efec;
  transition: .5s ease-in-out;
  padding: .8%;
}

.timeline .part .btn-draw:hover:after {
  right: 0rem;
  height: 100%;
}

.timeline .part .time, .timeline .part .hash {
  color: #aaaaaa;
  margin: 0;
  padding: 0;
}
