body {
  font-family: 'Work Sans', sans-serif;
  margin: 0 50px 50px 50px;
}
body,
html {
  height: 100%;
}
.wrapper {
  width: 98%;
  max-width: 1300px;
  margin: 0 auto;
}
.font_two {
  font-family: 'Cormorant', serif;
}
.top_header {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_header .logo {
  text-decoration: none;
  display: block;
  min-height: 10px;
}
.top_header h1 {
  color: #2d2d2d;
  font-size: 35px;
  letter-spacing: 0.14em;
}
.top_header .top_right_nav {
  display: flex;
}
.top_header .top_right_nav nav ul {
  font-size: 0;
}
.top_header .top_right_nav nav ul li {
  display: inline-block;
  font-size: 16px;
  margin-right: 50px;
  text-transform: uppercase;
  color: #98a58a;
  letter-spacing: 0.12em;
  font-weight: 600;
}
.top_header .top_right_nav nav ul li:hover {
  color: #bfd07d;
  transition: all 400ms ease-in-out;
}
.top_header .top_right_nav nav ul li a {
  color: inherit;
}
.top_header .top_right_nav .search {
  display: block;
  width: 19px;
  height: 19px;
  cursor: pointer;
  background: url('img/search.png') center center no-repeat;
  color: #2d2d2d;
  margin-right: 24px;
}
.top_header .top_right_nav .search:hover {
  opacity: 0.3;
  transition: all 400ms ease-in-out;
}
.top_header .top_right_nav .cart {
  display: block;
  width: 30px;
  height: 24px;
  cursor: pointer;
  background: url('img/busket.png') left center no-repeat;
  color: #2d2d2d;
  position: relative;
  margin-top: -8px;
}
.top_header .top_right_nav .cart span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  color: #3b471f;
}
.top_header .top_right_nav .cart:hover {
  opacity: 0.3;
  transition: all 400ms ease-in-out;
}
.about_me .wrapper {
  width: 98%;
  max-width: 1300px;
}
.about_me .wrapper .info_boxing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("img/provans.png") center no-repeat;
}
.about_me .wrapper .info_boxing .left_info {
  flex: 1;
}
.about_me .wrapper .info_boxing .right_info {
  flex: 2;
  background: url("img/fone.jpg") fixed;
}
.about_me .wrapper .info_boxing .right_info h3 {
  font-size: 35px;
  color: #3b471f;
  text-align: center;
  margin-bottom: 50px;
}
.about_me .wrapper .info_boxing .right_info h2 {
  font-size: 20px;
  letter-spacing: .07em;
  color: #d1d1d1;
  text-align: center;
  margin-top: -35px;
  margin-bottom: 45px;
}
.about_me .wrapper .info_boxing .right_info p {
  font-weight: 300;
  letter-spacing: .03em;
  line-height: 25px;
  margin-bottom: 60px;
}
.about_me .wrapper .info_boxing .right_info span {
  font-size: 20px;
  letter-spacing: .07em;
  color: #d1d1d1;
  margin-left: 295px;
}
