body {
  font-family: 'Work Sans', sans-serif;
  margin: 0 50px 50px 50px;
}
.font_two {
  font-family: 'Cormorant', serif;
}
.top_header {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_header .logo {
  text-decoration: none;
  background: url('img/logotype.png') center no-repeat;
  display: block;
  min-height: 10px;
}
.top_header h1 {
  color: #2d2d2d;
  font-size: 35px;
  letter-spacing: 0.14em;
}
.top_header .top_right_nav nav ul {
  font-size: 0;
}
.top_header .top_right_nav nav ul li {
  display: inline-block;
  font-size: 16px;
  margin-right: 50px;
  text-transform: uppercase;
  color: #2d2d2d;
}
