@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

$dark-c: rgb(38, 47, 50);
$white-col: #fff;

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

#wrapper {
  width: 100%;
  max-width: 1370px;
  font-family: 'Roboto', sans-serif;

  header {
    .head__bar {
      display: grid;
      grid-template-columns: 70vw 30vw;
      grid-template-rows: 715px;

      .to__left {
        img {
          height: 100%;
          width: 100%;
        }
      }

      .to__right {
        background: #f3f3f3;
        padding-top: 30%;
        padding-left: 10%;

        .text {
          width: 100%;
          transform: translateY(-50%);
          color: #00b4ff;

          span {
            color: $dark-c;
            font-size: 3.1em;
            font-weight: 900;
            display: inline-block;
            letter-spacing: .03em;
            transition: 2s;
            text-shadow: 0 0 0 #a0a0a0;
            cursor: pointer;
            &:hover {
              text-shadow: -8px 8px 0px #a0a0a0;
              transition: 0.3s;
              top: -8px;
              left: 8px;
            }
            &.space {
              width: 20px;
              height: 100%;
            }
          }
        }


        p {
          font-size: 1.25em;
          font-family: "Roboto", sans-serif;
          color: rgb(38, 47, 50);
          line-height: 1.556;
          -moz-transform: matrix(0.87414747844455, 0, 0, 0.87504943920782, 0, 0);
          -webkit-transform: matrix(0.87414747844455, 0, 0, 0.87504943920782, 0, 0);
          -ms-transform: matrix(0.87414747844455, 0, 0, 0.87504943920782, 0, 0);

        }
      }
    }


  }

  .main {
    height: 53.3em;
    display: grid;
    grid-template-columns: 45vw 55vw;
    grid-template-rows: 1fr 1fr;

    h3 {
      font-size: 45px;
      line-height: 66px;
      font-weight: 300;
      letter-spacing: 0.03em;

      span {
        font-weight: 900;
      }
    }

    p {
      font-size: 16px;
      letter-spacing: .03em;
      line-height: 28px;
      font-weight: 400;

      margin-top: 40px;
    }

    .vertical__main {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;

      background: url(../img/blue.png) 100% 100%;
      background-size: cover;

      &:hover {
        transform: scale(1);
      }

      .text__cont {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        color: $white-col;

        max-width: 460px;
        margin: 80px 60px;

        .block__1, .block__2, .block__3 {
          margin-bottom: 50px;
        }
      }
    }

    .top__main {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;

      background: url(../img/beuge.png) 100% 100%;
      background-size: cover;

      padding: 62px 60px;

      p {
        max-width: 550px;
      }

      a {
        border: 1px solid $dark-c;
        border-radius: 11px;
        position: absolute;
        height: 50px;
        width: 210px;

        font-size: 16px;
        color: $dark-c;
        line-height: 50px;
        letter-spacing: .03em;
        text-align: center;

        text-decoration: none;

        margin-top: 30px;

        &:hover {
          color: $white-col;
          background-color: $dark-c;
          font-weight: 900;
        }
      }
    }

    .bottom__main {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;

      background: url(../img/black.png) 100% 100%;
      background-size: cover;

      color: $white-col;
      padding: 62px 60px;

      p {
        max-width: 550px;
      }

      a {
        border: 1px solid $white-col;
        color: $white-col;
        border-radius: 11px;
        position: absolute;
        height: 3.125em;
        width: 210px;
        font-size: 1em;
        line-height: 3.125em;
        letter-spacing: .03em;
        text-align: center;

        text-decoration: none;

        margin-top: 30px;

        &:hover {
          color: $dark-c;
          background-color: $white-col;
          font-weight: 900;
        }
      }
    }
  }

  footer {
    .footer__bar {
      display: grid;
      grid-template-columns: 30vw 70vw;
      grid-template-rows: auto;

      .left__bar {
        background: url(../img/man.png) 100% 100%;
        background-size: cover;
        color: $white-col;
        padding: 80px 40px;

        h3 {
          font-size: 2.8em;
          line-height: 66px;
          font-weight: 300;
          letter-spacing: 0.03em;

          margin-bottom: 260px;


          span {
            font-weight: 900;
          }
        }

        h4 {
          font-size: 2.6em;
          line-height: 66px;
          letter-spacing: .03em;
          font-weight: 900;
        }

        .sub_span {
          font-size: 1em;
          line-height: 66px;
          letter-spacing: .03em;
        }
      }

      .right__bar {
        background: url(../img/form.png) 100% 100%;
        background-size: cover;
        color: $white-col;
        padding: 80px 50px;

        h3 {
          font-size: 45px;
          line-height: 66px;
          font-weight: 300;
          letter-spacing: 0.03em;

          margin-bottom: 260px;


          span {
            font-weight: 900;
          }
        }

        form {
          margin-top: -200px;
          margin-bottom: 100px;

          [type=name] {
            background: transparent;
            border: 1px solid $white-col;
            height: 53px;
            width: 300px;
            border-radius: 13px;

            padding-left: 20px;

            margin-right: 10px;
          }

          [type=email] {
            background: transparent;
            border: 1px solid $white-col;
            height: 53px;
            width: 300px;
            border-radius: 13px;

            padding-left: 20px;
          }

          [type=text] {
            margin-top: 15px;
            background: transparent;
            border: 1px solid $white-col;
            height: 160px;
            width: 635px;
            border-radius: 13px;

            padding-left: 20px;
          }


        }

        .icon__bar {
          p {
            font-size: 1em;
            letter-spacing: .03em;

            &:nth-child(2) {
              margin-top: 30px;
            }
          }

          .icons {
            margin-left: 10px;
            margin-bottom: 45px;
            margin-top: 25px;


            .Face {
              border-radius: 7px;
              background-color: rgb(52, 91, 180);
              padding: 10px 15px;
            }

            .Drib {
              border-radius: 7px;
              background-color: #e64895;
              padding: 9px 10px;
            }

            .Twit {
              border-radius: 7px;
              background-color: #00b4ff;
              padding: 12px 10px;
            }
          }
        }


      }
    }
  }

}