@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic,cyrillic-ext");
* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.75;
  font-family: 'Ubuntu', sans-serif !important;
  overflow-x: hidden;
  opacity: 1;
  color: #393e6b;
    color-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.content {
  padding: 0 8%;
  justify-self: center; }

.grid {
  display: grid; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video {
  display: inline-block;
  display: inline;
  zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support. */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom. */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

figure, form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  height: 13px;
  width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, button, input, select, textarea {
  color: #222; }

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    min-width: 320px;
    max-width: 480px;
    width: 100%; }
    .wrapper .navigation {
      border-bottom: 1px solid #22a4a9; }
      .wrapper .navigation .logotype img:nth-child(1) {
        margin-left: -70px !important; }
      .wrapper .navigation #mainnav ul {
        display: none;
        padding: 1em !important;
        text-align: left !important;
        flex-direction: column !important;
        text-align: end !important;
        background: #e5e6f1 !important;
        width: 80vw !important;
        padding: 0 30px !important;
        margin-right: 100px !important; }
        .wrapper .navigation #mainnav ul:hover {
          background: #8187bc !important; }
        .wrapper .navigation #mainnav ul:nth-child(2) {
          position: relative !important; }
          .wrapper .navigation #mainnav ul:nth-child(2) li {
            text-align: center !important; }
            .wrapper .navigation #mainnav ul:nth-child(2) li a {
              color: #393e6b !important; }
              .wrapper .navigation #mainnav ul:nth-child(2) li a:hover {
                color: #ffffff !important; }
        .wrapper .navigation #mainnav ul li a {
          display: block !important;
          padding: .75em 1.5em .5em 1.5em !important; }
      .wrapper .navigation #mainnav #menu {
        position: absolute !important;
        top: 40px !important;
        right: 23px !important;
        font-size: 25px !important; }
    .wrapper #btn, .wrapper .line {
      display: none !important; }
    .wrapper .text {
      position: absolute;
      top: 120px;
      left: 22px; }
    .wrapper .header {
      grid-template-columns: auto !important;
      grid-gap: 23px 0;
      margin-top: 116px !important; }
      .wrapper .header__right img:nth-child(1) {
        width: 100%; }
      .wrapper .header__left {
        grid-row: 2/3 !important; }
        .wrapper .header__left h2 {
          font-size: 22px !important;
          line-height: 36px !important;
          text-align: center !important; }
        .wrapper .header__left .btn {
          display: block !important;
          text-align: center !important;
          margin: 0 -22px !important;
          line-height: 22px !important;
          padding: 15px 50px !important; }
    .wrapper #advantages .content h3:nth-child(1) {
      font-size: 24px !important;
      line-height: 26px !important;
      margin-top: -70px !important; }
    .wrapper #advantages .content .advantages__list {
      grid-template-columns: 90% !important;
      grid-gap: 50px !important; }
    .wrapper .contact {
      grid-template-columns: 1fr !important;
      justify-content: center !important;
      justify-items: center !important;
      align-items: center !important;
      align-content: center !important; }
      .wrapper .contact__form {
        grid-template-columns: 90vw !important;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr !important;
        align-items: center !important; }
        .wrapper .contact__form #input-message {
          height: 40px !important;
          grid-column: 1/2 !important; }
        .wrapper .contact__form #input-name, .wrapper .contact__form #input-tel, .wrapper .contact__form #input-email, .wrapper .contact__form #input-password {
          height: 30px !important; } }

@media only screen and (min-width: 480px) and (max-width: 1400px) {
  .wrapper .navigation #menu {
    display: none !important; }
  .wrapper .navigation #mainnav ul:nth-child(2) {
    display: flex !important; } }

.wrapper .navigation {
  grid-template-columns: 112px 20px auto auto auto;
  justify-items: center;
  align-items: center;
  color: #ffffff;
  padding: 0 15%; }
  .wrapper .navigation #mainnav ul {
    display: flex; }
    .wrapper .navigation #mainnav ul:nth-child(2) {
      display: none; }
    .wrapper .navigation #mainnav ul li {
      margin-right: 20px; }
  .wrapper .navigation .group {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 30px;
    text-transform: uppercase;
    margin-left: 50px;
    justify-items: center; }
    .wrapper .navigation .group li a {
      text-decoration: none;
      color: #ffffff;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: .05em;
      transition: all 300ms ease-in-out; }
      .wrapper .navigation .group li a:hover {
        color: #4b518c;
        transition: all 300ms ease-in-out; }
  .wrapper .navigation .text {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .25px; }
    .wrapper .navigation .text a:nth-child(2) {
      color: #22a4a9; }
  .wrapper .navigation .logotype img::after {
    box-sizing: border-box;
    width: 1px;
    height: 51px;
    background: #22a4a9;
    position: absolute; }
  .wrapper .navigation .line {
    width: 1px;
    height: 50px;
    background: #22a4a9;
    margin: 0 20px;
    opacity: .5; }
  .wrapper .navigation #btn {
    color: #393e6b;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background: #ffffff;
    padding: 12px 23px;
    border-radius: 28px;
    margin-right: -30px; }
    .wrapper .navigation #btn:hover {
      background: #e5e6f1; }

.wrapper .header {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 70px 0;
  padding-bottom: 70px !important;
  padding: 0 15%; }
  .wrapper .header__left {
    color: #ffffff;
    font-weight: 300;
    font-size: 2.125em; }
    .wrapper .header__left h2 {
      margin-bottom: 50px;
      font-size: 34px;
      line-height: 42px;
      letter-spacing: .25px; }
    .wrapper .header__left .btn {
      font-size: 16px;
      line-height: 42px;
      letter-spacing: .25px;
      font-weight: 400;
      background: #22a4a9;
      padding: 25px 55px;
      border-radius: 38px;
      color: #ffffff;
      transition: all 300ms ease-in-out; }
      .wrapper .header__left .btn:hover {
        background: #197b7f;
        transition: all 300ms ease-in-out; }
  .wrapper .header__right img:nth-child(1) {
    margin-right: -50px; }

.wrapper .advantages {
  margin: 118px 0;
  justify-content: center;
  align-content: center; }
  .wrapper .advantages h3 {
    font-size: 34px;
    line-height: 42px;
    letter-spacing: .25px;
    color: #393e6b;
    text-align: center;
    margin-bottom: 92px; }
  .wrapper .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 60px 40px;
    justify-items: center;
    align-items: center;
    color: #393e6b; }
    .wrapper .advantages__list li {
      font-size: 14px;
      letter-spacing: .25px;
      text-align: left;
      grid-template-columns: auto 180px;
      font-weight: 400; }
      .wrapper .advantages__list li span {
        color: #54d8dd;
        font-size: 48px;
        margin: -35px 10px 0 -30px;
        opacity: 0.5; }

.wrapper .contact {
  background: #22a4a9;
  padding: 55px 30%;
  color: #ffffff; }
  .wrapper .contact h3 {
    font-size: 36.05px;
    line-height: 30.04px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px; }
  .wrapper .contact input, .wrapper .contact textarea {
    border: 0;
    outline: 0;
    padding: 20px 30px;
    border-radius: 50px;
    display: block;
    width: 100%;
    resize: none;
    font-family: inherit;
    color: #a2a7ce;
    -webkit-color: #a2a7ce; }
  .wrapper .contact__form {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-rows: repeat(3, 40px); }
    .wrapper .contact__form #input-message {
      grid-column: 1/3;
      overflow: hidden;
      padding: 10px 30px; }
    .wrapper .contact__form input:hover::-webkit-input-placeholder {
      font-size: 1em;
      color: #393e6b;
      font-weight: 700;
      line-height: 2.5em; }
  .wrapper .contact #subscribe-field {
    text-align: center; }
  .wrapper .contact .check {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
    outline: none;
    transition: 0.34s;
    cursor: pointer;
    transform: scale(0.5);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .25px; }
    .wrapper .contact .check .fas {
      font-size: 25px;
      color: #ccc;
      transform: scale(0.1);
      transition: 0.24s 0.34s cubic-bezier(0, 0.99, 0.54, 0.33);
      opacity: 0; }
  .wrapper .contact .checked {
    background: #fff;
    animation: blind 0.34s linear;
    transform: scale(0.6);
    border: 0px; }
    .wrapper .contact .checked .fas {
      background: #ffffff; }

@keyframes blind {
  0% {
    transform: scale(0.1); }
  100% {
    transform: scale(1); } }
  .wrapper .contact .fas.active {
    color: #22a4a9;
    opacity: 1;
    transform: scale(0.6); }
  .wrapper .contact .items {
    display: flex;
    background-color: #22a4a9;
    color: #fff;
    margin: 30px auto; }
    .wrapper .contact .items a {
      color: #2fe2f3; }
  .wrapper .contact .item:nth-of-type(1) {
    width: 50px; }
  .wrapper .contact #checkbox {
    display: none; }
  .wrapper .contact__btn {
    text-transform: uppercase;
    color: #ffffff;
    background: #393e6b;
    border-radius: 50px;
    text-align: center;
    padding: 17px 45px;
    justify-self: center; }
    .wrapper .contact__btn:hover {
      background: #30345a; }

.wrapper .footer {
  padding: 20px 0;
  background: #242637;
  justify-content: center;
  justify-items: center; }
  .wrapper .footer h3 {
    color: #616693;
    font-size: 14px;
    letter-spacing: .25px;
    margin-bottom: 9px; }
  .wrapper .footer a {
    color: #2fe2f3;
    font-size: 14px;
    letter-spacing: .25px; }
