@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap&subset=cyrillic')
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=cyrillic')

$accent: 'Caveat', cursive
$general: 'PT Mono', monospace

$green: #9eb99a
$violet: #5d5f70
$pink: #aa9298
$back-d: #3f4243
$back-l: #e9e8e4
$dark: #111

$gulp: #DB4446
$JS: #F0DB4F
$html: #FF8C00
$sass: #F08080
$git: #111
$adobe: #4682B4

$vk: #597da3
$ig: #E1306C
$gh: #000000
$tg: #0088cc
$gm: #fff

*
 box-sizing: border-box
 &:before, &:after
  box-sizing: border-box 
html,body 
 height: 100% 
 background: $back-l;
body 
 margin: 0 auto
 padding: 0
 min-width: 320px 
 position: relative 
 line-height: 1.65 
 font-family: $general 
 font-weight: 300
 overflow-x: hidden 
 opacity: 1 
 width: 100%

img 
  display: block 
  max-width: 100% 
  height: auto  

li
 text-decoration: none
a
 text-decoration: none
 cursor: pointer


.wrapper
 width: 100%
.head__menu
  padding: 1.5vw
  .container 
   display: flex
   justify-content: space-between
   align-items: center
  h1
    font-size: 1.3em
    color: $pink
  ul
   list-style: none
   display: flex
   margin-right: 25%
   li
    margin-right: 50%
    font-size: .9em
    a
      color: $dark
      &:hover
        color: $green

.general__block
 width: 100%
 margin-top: 5%
 margin-bottom: 5%
 padding: 0 5%
 .container
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr 1fr
  .left__side
   grid-column: 1 / 2
   grid-row: 1 / 2
   padding: 5%
   .typewriter 
    h2
      font-size: 3em
      color: $dark
      font-family: monospace
      overflow: hidden
      border-right: .15em solid $pink
      white-space: nowrap
      margin: 0 auto
      letter-spacing: .15em
      animation: typing 5s steps(25, end) 1s 1 normal both, blink-caret 700ms infinite normal
      @keyframes typing
        from
          width: 0

        to
          width: 40vw

      @keyframes blink-caret
        from, to
          border-right-color: $pink

        50%
          border-right-color: transparent
   p
    &:nth-child(3)
     margin-top: 10%
     text-indent: 10%
     text-align: justify
     line-height: 2em

  .right__side
    grid-column: 2 / 3
    grid-row: 1 / 3
    img
     width: 100%
     max-width: 1000px
     max-height: 1000px




.my__skills
  padding: 10%
  background: $back-d
  color: $back-l
  width: 100%;
  max-width: 1400px;
  text-align: center
  h2
    font-size: 3em
    font-weight: 300
  .stats-container
    width: 100%
    max-width: 1000px
    display: flex
    align-content: center

    .stat-item
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      position: relative
      display: inline-block
      width: 20%
      padding: 2%
      img
        position: absolute
        width: 100%
        top: 0
        left: 0

    .stat-path, .stat-back
      stroke-linecap: round
      stroke-width: 2
      fill: none

    @media only screen and (max-width: 580px)
      .stat-item
        width: 50%

    .tooltip
      .tooltiptext
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        position: absolute
        top: 90%
        left: 50%
        -webkit-transform: translateX(-50%)
        -ms-transform: translateX(-50%)
        -o-transform: translateX(-50%)
        transform: translateX(-50%)
        padding: 6px 12px
        background: #dddddd
        color: $back-l
        letter-spacing: 1px
        text-align: center
        white-space: nowrap
        visibility: hidden
        z-index: 1
        span
          display: block
          color: #ffffff
        &:after
          content: ""
          position: absolute
          bottom: 100%
          left: 50%
          margin-left: -5px
          border-width: 5px
          border-style: solid
          border-color: transparent transparent currentColor transparent
      &:hover .tooltiptext
        visibility: visible
      .fab
        position: absolute
        top: 35%
        left: 35%
      .fa-gulp
        left: 43%
        color: $gulp
      .fa-js
        color: $JS
        margin-left: 2%
      .fa-html5
        color: $html
        left: 39%
      .fa-sass
        color: $sass
      .fa-github-alt
        color: $git
      .fa-adobe
        color: $adobe

.info__block
  margin-top: 20vh
  margin-bottom: 20vh
  .container
    display: grid
    grid-template-columns: 35vw 65vw
    margin: 2% 
    .left__bar
     .swiper-slide
      img
        max-width: 450px
        height: 450px
        width: 100%
     
    .to__right
      padding: 0 10%
      h2
        text-align: center
      .info_box
        color: lighten($dark, 30%)
        list-style: none
        margin-left: -2vw
      p 
        text-align: justify
        text-indent: 2%
      span 
       color: darken($pink, 15%)

footer
  background: $back-d
  text-align: center
  padding-top: 10vh
  padding-bottom: 5vh
  p
    color: lighten($back-d, 20%)
    letter-spacing: .05em
  a 
   text-decoration: none
   cursor: pointer
   color: $back-l
  ul
   display: flex
   justify-content: center
   li
    list-style: none
    margin-right: 5vw
  #vk::before
    content: ""
    display: inline-block
    border-radius: 100%
    width: 4px
    height: 4px
    margin-right: 1vw
    background: $vk
  #ig::before
    content: ""
    display: inline-block
    border-radius: 100%
    width: 4px
    height: 4px
    margin-right: 1vw
    background: $ig
  #gh::before
    content: ""
    display: inline-block
    border-radius: 100%
    width: 4px
    height: 4px
    margin-right: 1vw
    background: $gh
  #tg::before
    content: ""
    display: inline-block
    border-radius: 100%
    width: 4px
    height: 4px
    margin-right: 1vw
    background: $tg
  #gm::before
    content: ""
    display: inline-block
    border-radius: 100%
    width: 4px
    height: 4px
    margin-right: 1vw
    background: $gm