body {
    background: lightblue;
    text-align: center;
    box-sizing: border-box;
    text-align: center;
    margin: 20vh auto 0 auto;
}
h1 {
    color: rgb(56, 56, 56);
}

.box{
    position:absolute;
    top:50%;
    left:50%;
    transform : translate(-50% ,-50%);
    font-family:"Lato",Sans-serif;
}

.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform:uppercase;
    position:relative;
    top:0;
    left:0;
    padding:20px 40px;
    border-radius:100px;
    display:inline-block;
    transition: all .5s;
}

.btn-white{
    background:#fff;
    color: #2a2a2a;
}

.btn:hover{
    box-shadow:0px 10px 10px rgba(0,0,0,0.2);
    transform : translateY(-3px);
}

.btn:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2)
    transform:translateY(-1px);
}

.btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:100px;
    display:inline-block;
    z-index:-1;
    transition: all .5s;
}

.btn-white::after {
    background: #fff;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
    0%{
        opacity:0;
        transform:translateY(40px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}

.portfolio-section {
	padding: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 10px;
	grid-template-rows: 1fr;
	display: grid;
	margin-top: 50px;
}

.portfolio-item {
	min-height: 32vh;
	background-size: cover;
	background-position: center;
	text-align: center;
	align-content: center;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	position: relative;
	cursor: pointer;
}

.portfolio-item img {
	max-width: 400px; 
}


