//colors
$color_apricot_80_approx: rgba(233, 156, 126, 0.8);
$color_desert_sand_80_approx: rgba(225, 204, 174, 0.8);
$color_casper_80_approx: rgba(173, 197, 205, 0.8);
$color_cloud_80_approx: rgba(203, 198, 195, 0.8);
$black_18: rgba(0, 0, 0, 0.18);
$white: #fff;
$color_apricot_approx: #3b471f;
$color_desert_sand_approx: #e1ccae;
$color_casper_approx: #adc5cd;
$color_cloud_approx: #cbc6c3;
$black: #000;

//fonts
$font_0: Exo 2;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;
$font_4: Open Sans;

//urls
$url_0: url(slider-3.jpg);
$url_1: url(slider-2.jpg);
$url_2: url("../img/cream_slide.jpg");
$url_3: url(slider-4.jpg);

.slider-container {
	position: relative;
	user-select: none;
	cursor: all-scroll;
	overflow: hidden;
	height: 500px;
}
.slider-control {
	z-index: 2;
	position: absolute;
	top: 0;
	width: 12%;
	height: 100%;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: opacity 0.3s;
	will-change: opacity;
	opacity: 0;
	&.left {
		left: 0;
		background: linear-gradient(to right, $black_18 0, rgba(0, 0, 0, 0) 100%);
	}
	&.right {
		right: 0;
		background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, $black_18 100%);
	}
	&.inactive:hover {
		cursor: auto;
	}
	&:not(.inactive):hover {
		opacity: 1;
		cursor: pointer;
	}
}
.slider-pagi {
	position: absolute;
	z-index: 3;
	left: 50%;
	bottom: 2rem;
	font-size: 0;
	list-style-type: none;
}
.slider-pagi__elem {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 0.5rem;
	height: 0.5rem;
	margin: 0 0.5rem;
	border-radius: 50%;
	border: 1px solid #98a58a;
	cursor: pointer;
	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		width: 0.4rem;
		height: 0.4rem;
		background: $white;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform 0.3s;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(-50%, -50%) scale(0);
	}
	&.active:before {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(-50%, -50%) scale(1);
	}
	&:hover:before {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translate(-50%, -50%) scale(1);
	}
}
.slider {
	z-index: 1;
	position: relative;
	height: 100%;
	&.animating {
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform 0.5s;
		will-change: transform;
		.slide__bg {
			//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: transform 0.5s;
            will-change: transform;
		}
	}
}
.slide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	&.active {
		.slide__overlay {
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(0);
		}
		.slide__text {
			opacity: 1;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: translateX(0);
		}
	}
	&:nth-child(1) {
		left: 0;
		.slide__bg {
			left: 0;
			background-image: $url_2;
		}
		.slide__overlay-path {
			fill: $color_apricot_approx;
		}
	}
	&:nth-child(2) {
		left: 100%;
		.slide__bg {
			left: -50%;
			background-image: url("../img/cream_slide2.jpg");
		}
		.slide__overlay-path {
			fill: $color_apricot_approx;
		}
	}
	&:nth-child(3) {
		left: 200%;
		.slide__bg {
			left: -100%;
			background-image: url("../img/cream_slide3.jpg");
		}
		.slide__overlay-path {
			fill: $color_apricot_approx;
		}
	}
	&:nth-child(4) {
		left: 300%;
		.slide__bg {
			left: -150%;
			background-image: $url_2;
		}
		.slide__overlay-path {
			fill: $color_cloud_approx;
		}
	}
}
.slide__bg {
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background-size: cover;
	will-change: transform;
}
@media(max-width: 991px) {
	.slide {
		&:nth-child(1) .slide__text {
			background-color: $color_apricot_80_approx;
		}
		&:nth-child(2) .slide__text {
			background-color: $color_desert_sand_80_approx;
		}
		&:nth-child(3) .slide__text {
			background-color: $color_casper_80_approx;
		}
		&:nth-child(4) .slide__text {
			background-color: $color_cloud_80_approx;
		}
	}
	.slide__overlay {
		display: none;
	}
	.slide__text {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 20rem;
		text-align: center;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(50%);
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
		padding: 0 1rem;
	}
	.slide__text-heading {
		line-height: 20rem;
		font-size: 3.5rem;
	}
	.slide__text-desc {
		display: none;
	}
	.slide__text-link {
		display: none;
	}
}
.slide__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.slide__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	min-height: 810px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
	will-change: transform, opacity;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translate3d(-20%, 0, 0);
	opacity: 0;
	path {
		opacity: 0.8;
	}
}
.slide__text {
	position: absolute;
	width: 25%;
	bottom: 15%;
	left: 12%;
	color: $white;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
	will-change: transform, opacity;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: translateY(-50%);
	opacity: 0;

	.slide__text-heading {
		font-family: $font_0, $font_1, $font_2, $font_3;
		font-size: 5rem;
		margin-bottom: 2rem;
	}

	.slide__text-desc {
		font-family: $font_4, $font_1, $font_2, $font_3;
		font-size: 0.9rem;
		margin-bottom: 1.5rem;
		line-height: 1.8rem;
		font-weight: 300;
		letter-spacing: 0.09em;
		color: #cbc6c3;
	}

	//colors
	$color_charade_approx: #98a58a;
	$white: #fff;
	$color_royal_purple_approx: rebeccapurple;

	button {
		position: relative;
		display: inline-block;
		cursor: pointer;
		outline: none;
		border: 0;
		vertical-align: middle;
		text-decoration: none;
		background: transparent;
		padding: 0;
		font-size: inherit;
		font-family: inherit;
		margin-top: 3%;
		&.learn-more {
			width: 12rem;
			height: auto;
			.circle {
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
				position: relative;
				margin: 0;
				width: 3rem;
				height: 3rem;
				background: $color_charade_approx;
				//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
				border-radius: 1.625rem;
				.icon {
					//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					background: $white;
					&.arrow {
						//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
						transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
						left: 0.625rem;
						width: 1.125rem;
						height: 0.125rem;
						background: none;
					}
					&.arrow::before {
						position: absolute;
						content: '';
						top: -0.25rem;
						right: 0.0625rem;
						width: 0.625rem;
						height: 0.625rem;
						border-top: 0.125rem solid $white;
						border-right: 0.125rem solid $white;
						//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
						transform: rotate(45deg);
					}
				}
			}
			.button-text {
				//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 0.75rem 0;
				margin: 0 0 0 1.85rem;
				color: $color_charade_approx;
				font-weight: 700;
				line-height: 1.6;
				text-align: center;
				text-transform: uppercase;
			}
		}
		&:hover {
			.circle {
				width: 100%;
				.icon.arrow {
					background: $white;
					//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
					transform: translate(1rem, 0);
				}
			}
			.button-text {
				color: $white;
			}
		}
	}
	@supports(display: grid) {
		body {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 0.625rem;
			grid-template-areas: ". main main ." ". main main .";
		}
		#container {
			grid-area: main;
			align-self: center;
			justify-self: center;
		}
	}
	.test {
		color: $color_royal_purple_approx;
	}
}	

