.production {
    background: #f8f9f6 url("img/provans.png") top center no-repeat fixed;
    padding-top: 0px;
    text-align: center; 

    .product {
        padding: 5px;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 200px 200px 700px 100px;
        grid-template-rows: 400px; 
        margin-bottom: 50px;

        .data_holder {

            .cat {
                font-size: 25px;
                margin-bottom: 30px;
                color: #888888;
                letter-spacing: .05em;
            }

            h3 {
                font-size:35px;
                color:#3b471f;
                margin:15px;
            }

            p {
                line-height: 20px;
            }
            
        }
        .prices {
            font-size: 1.5rem;
        }


        .composit {
            text-align: left;

            p {
                margin: 20px;
                text-align: left;
                line-height: 1.5rem;
                font-weight: 300;
                letter-spacing: 0.01rem;    
            }
        }
    }
    &:hover {
        background: linear-gradient( to top right, #a0a0a0, #9b9a9a);
        
        p, span, h3, .cat, a {
            color: white;
        }

    }
}