$g-col: #ff6a6d;
$h-col: #3b3838;
$p-col: #6a7e7d;
$w-col: #fff;

$fs-h: 'Fivo Sans Heavy';
$fs-b: 'Fivo Sans Bold';
$fs-r: 'Fivo Sans Regular';
$fs-l: 'Fivo Sans Light';
$fs-o: 'Fivo Sans Oblique';
$fs-m: 'Fivo Sans Medium';

@import '_mixins';
@import 'adaptiv';        

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    background-color: #fbfcfc;     

    img {
        background-size: cover;
        max-width: 100%; 
        height: auto;
        display: inline-block;
        position: relative;
    }

    .container {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        
        .general_menu {
            display: flex;
            align-items: center;
            margin-top: 90px;
            margin-left: 255px;
           
            h1 {
                font-family: $fs-h;
                color: $g-col;
                font-size: 32px;
                line-height: 48px;
            }

            ul {
                display: flex;
                font-family: $fs-b;
                margin-left: 550px;

                li {
                    margin-right: 65px;

                    a {
                        color: $h-col;
                    }

                    .button {
                        padding: 15px 45px;
                        border-radius: 60px; 
                        margin-left: 120px;

                        background: $g-col;
                        color: $w-col;
                        box-shadow: 0 0 7px 0 rgb(161, 153, 153);
                        box-shadow: -12px 12px 22px 1px rgba(255, 106, 109, .45);
                    }
                }
                
            
            }
        }
    

        .text_box {
            margin-left: 366px;
            margin-top: 120px;

            h2 {
                    font-family: $fs-b;
                    font-size: 50px;
                    line-height: 60px;
                    color: $h-col;

                    max-width: 541px;
                    margin-bottom: 65px;
            }

            p {
                    max-width: 470px;
                    font-family: $fs-l;
                    font-size: 18px;
                    line-height: 40px;
                    color: $p-col;
            }

            .buttons {
                display: flex; 
                margin-top: 70px;
                font-family: $fs-r;
                font-size: 20px;
                line-height: 40px;
                    
                .but {
                    padding: 20px 80px;
                    margin-right: 30px;
                    color: $g-col;
                    border: $g-col 1px solid;
                    border-radius: 60px; 
                    
                    &:hover {
                        background: $g-col;
                        color: $w-col;
                        box-shadow: 0 0 7px 0 rgb(161, 153, 153);
                        box-shadow: -12px 12px 22px 1px rgba(255, 106, 109, .45);
                    }
                }

                .active {
                    background: $g-col;
                    color: $w-col;
                    box-shadow: 0 0 7px 0 rgb(161, 153, 153);
                    box-shadow: -12px 12px 22px 1px rgba(255, 106, 109, .45);
                }
            }

        } 
    }
    
    .icons {
        text-align: center;

        h2 {
            font-family: $fs-b;
            font-size: 50px;
            line-height: 60px;
            color: $h-col;
            margin-bottom: 50px;
        }

        span {
            text-align: center;
            font-family: $fs-l;
            font-size: 18px;
            line-height: 40px;
            color: $p-col;
        }

        .icon_box {
            display: grid;
            grid-template-columns: 260px 260px 260px;
            grid-column-gap: 200px;
            justify-items: center;
            justify-content: center;
            align-items: center;
            margin-top: 150px;
            
            .icon {
                text-align: center;
                align-items: center;
                max-width: 269px;

                h3 {
                    margin-top: 90px;
                    margin-bottom: 40px;

                    font-family: $fs-b;
                    font-size: 24px;
                    line-height: 60px;
                    color: $h-col;
                }

                span {
                    font-family: $fs-l;
                    font-size: 18px;
                    line-height: 27px;
                    color: $p-col;
                    max-width: 250px;
                }
            }
            
        }
    }

    .advatages {
        margin-top: 275px;
        margin-bottom: 325px;

        display: grid;
        grid-template-columns: auto 1fr 1fr auto;

        .advetage__box {

            h3 {
                font-family: $fs-b;
                font-size: 50px;
                line-height: 60px;
                color: $h-col;
                margin-bottom: 80px;
                margin-left: -90px;
            }

            ul {
                list-style-image: url(img/liststyle.png);

                li {
                    margin-bottom: 50px;
                    max-width: 540px;

                    font-family: $fs-b;
                    color: $h-col;
                    font-size: 24px;
                    line-height: 40px;

                    span {
                        font-family: $fs-l;
                        color: $p-col;
                        font-size: 18px;
                        line-height: 40px;
                    }

                    &:hover {
                     list-style-image: url(img/liststylehov.png);
                    }
                }
                
            }
            
        }

        .art {
            &:first-child {
                margin-top: 215px;
               }
            &:nth-child(4) {
             margin-top: -163px;
            }
        }
    }

    .info_box {
        display: grid;
        grid-template-columns: 560px 670px;
        grid-column-gap: 60px;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin-bottom: 310px;

        h3 {
            font-family: $fs-b;
            color: $h-col;
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 80px;
        }

        p {
           font-family: $fs-l;
           color: $p-col;
           font-size: 18px;
           line-height: 40px;
           margin-bottom: 65px;
           margin-left: 80px;
        }

        a {
            color: #3cbef1;
            font-family: $fs-o;
            font-size: 18px;
            line-height: 40px;
            margin-left: 80px;
        }
    }

    .ways_box {
        display: grid;
        grid-template-columns: auto 1fr 1fr auto;
        margin-bottom: 150px;

        h3 {
            font-family: $fs-b;
            color: $h-col;
            font-size: 50px;
            line-height: 60px;
            margin-bottom: 80px;
        }

        p {
           font-family: $fs-l;
           color: $p-col;
           font-size: 18px;
           line-height: 40px;
           margin-left: 80px;
           max-width: 545px;
           text-align: justify;
           text-indent: 60px;
        }

        .but {
            color: #3cbef1;
            font-family: $fs-o;
            font-size: 18px;
            line-height: 40px;
            margin-left: 80px;
            margin-top: 65px;
        }
        
        .art {
            &:first-child {
             margin-top: -400px;
            }

            &:nth-child(4) {
                margin-top: -250px;
            }

            .leave {
                position: absolute;
                right: 0;
                margin-top: 160px;
            }
        }
    }

    .prices__box {
        .promos {
          max-width: 1140px;
          margin: 0 auto;
           
        
        .promo {
          margin: 1em .5em 1.625em;
          padding: .25em 0 2em;
          background: $w-col;
          font-family: $fs-r;
          font-weight: 400;
          line-height: 1.625;
          color: $p-col;
          text-align: center;
          border-radius: 20px;

        }

        .features {
          margin: 0;
          padding: 0;
          list-style-type: none;
          color: #999999;

        }
        li {
          padding: .25em 0;
        }
          .brief  {
            color: $p-col;
            font-family: $fs-r;
            margin-top: 20px;

            li {
                
                padding: .25em 0;
                margin-left: 130px;
                text-align: left;
                padding-left: 30px;
                line-height: 30px;
                margin-left: 60px;
                padding-left: 70px;
                background: url(img/li.blue.png) 0px 3px no-repeat;
                padding-bottom: 30px;
            }
        }
        
        
        .price {
          margin: .5em 0;
          padding: .25em 0;
          font-size: 250%;
          color: #f9f9f9;
        }
        .buy {
          margin: 1em 0 0;
        }
        button {
          padding: 1.6em 3.5em;
          border: none;
          border-radius: 40px;
          background: linear-gradient(#5fcef5, #83e4fc);
          box-shadow: -21px 21px 24px  rgba(95, 206, 244, 0.3);
          color: #f9f9f9;
          cursor: pointer;
        }
        
        .scale {
            width:300px;
            background: #fff;
            margin:40px auto;
            border-radius: 4px;
            overflow: hidden; 

            .head_sc {
                font-weight: 700;
                text-align: center;
                padding: 20px;
                background: #ff5e5c;
                color: #fff;
            
                font-family: $fs-b;
                font-size: 30px;
                line-height: 30px;
                text-transform: uppercase;
                color: $w-col;
                margin-top: -5px;
            }

            .but_red {
                background: $g-col;
                padding:  20px;
                border: none;
                border-radius: 40px;
                box-shadow: -21px 21px 24px  rgba(255, 106, 109, 0.3);
                color: #f9f9f9;
                cursor: pointer;

                font-family: $fs-m;
                font-size: 18px;
                line-height: 30px;
            }

            .brief {
                li {
                background: url(img/li.red.png) 0px 3px no-repeat;
                }
            }
            
        }
        
        
        
        @media (min-width: 40em) {
          .promo {
            display: inline;
            float: left;
            width: 33%;
            margin: 1em 0 0;
          }
          .promo.first {
            border-right: none;
          }
          .promo.second {
            float: right;
            border-left: none;
          }
        }

        @media (min-width: 40em) {
          .scale {
            transform: scale(1.2);
            box-shadow: 0px -17px 30px 0px rgba(255, 106, 109, 0.19);
          }
          .scale .price {
            color: #64AAA4;
          }
        }
        
        }
    }

    footer {
        .foot__box {
            background-image: url(img/footer.png) ;
            
            .footer__lists {
                 
                img {
                    margin-top: 250px;
                    margin-left: 250px;
                }

                .foot_menu {
                    margin-bottom: 250px;

                    .list_style {
                        display: flex;

                         li {
                            color: $p-col;
                            font-family: $fs-r;
                            font-size: 16px;
                            line-height: 30px;
                            margin-bottom: 25px;
                            margin-right: 133px;

                            a {
                                color: $p-col;
                            }
                            
                            &:first-child {
                                font-family: $fs-h;
                                font-size: 18px;
                                line-height: 40px;
                                margin-bottom: 60px;
                                color: $h-col;
                                text-transform: uppercase;
                            }
                            
                        }
                    }
                    
                
                            
                }
                
            }
             

             
        }   
    }
} 


