.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
}

.wrapper img {
  background-size: cover;
  max-width: 100%;
  height: auto;
  display: inline-block;
  position: relative;
}

.wrapper .container {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper .container .general_menu {
  display: flex;
  align-items: center;
  margin-top: 90px;
  margin-left: 255px;
}

.wrapper .container .general_menu h1 {
  font-family: "Fivo Sans Heavy";
  color: #ff6a6d;
  font-size: 32px;
  line-height: 48px;
}

.wrapper .container .general_menu ul {
  display: flex;
  font-family: "Fivo Sans Bold";
  margin-left: 550px;
}

.wrapper .container .general_menu ul li {
  margin-right: 65px;
}

.wrapper .container .general_menu ul li a {
  color: #3b3838;
}

.wrapper .container .general_menu ul li .button {
  padding: 15px 45px;
  border-radius: 60px;
  margin-left: 120px;
  background: #ff6a6d;
  color: #fff;
  box-shadow: 0 0 7px 0 #a19999;
  box-shadow: -12px 12px 22px 1px rgba(255, 106, 109, 0.45);
}

.wrapper .container .text_box {
  margin-left: 366px;
  margin-top: 120px;
}

.wrapper .container .text_box h2 {
  font-family: "Fivo Sans Bold";
  font-size: 50px;
  line-height: 60px;
  color: #3b3838;
  max-width: 541px;
  margin-bottom: 65px;
}

.wrapper .container .text_box p {
  max-width: 470px;
  font-family: "Fivo Sans Light";
  font-size: 18px;
  line-height: 40px;
  color: #6a7e7d;
}

.wrapper .container .text_box .buttons {
  display: flex;
  margin-top: 70px;
  font-family: "Fivo Sans Regular";
  font-size: 20px;
  line-height: 40px;
}

.wrapper .container .text_box .buttons .but {
  padding: 20px 80px;
  margin-right: 30px;
  color: #ff6a6d;
  border: #ff6a6d 1px solid;
  border-radius: 60px;
}

.wrapper .container .text_box .buttons .but:hover {
  background: #ff6a6d;
  color: #fff;
  box-shadow: 0 0 7px 0 #a19999;
  box-shadow: -12px 12px 22px 1px rgba(255, 106, 109, 0.45);
}

.wrapper .container .text_box .buttons .active {
  background: #ff6a6d;
  color: #fff;
  box-shadow: 0 0 7px 0 #a19999;
  box-shadow: -12px 12px 22px 1px rgba(255, 106, 109, 0.45);
}

.wrapper .icons {
  text-align: center;
}

.wrapper .icons h2 {
  font-family: "Fivo Sans Bold";
  font-size: 50px;
  line-height: 60px;
  color: #3b3838;
  margin-bottom: 50px;
}

.wrapper .icons span {
  text-align: center;
  font-family: "Fivo Sans Light";
  font-size: 18px;
  line-height: 40px;
  color: #6a7e7d;
}

.wrapper .icons .icon_box {
  display: grid;
  grid-template-columns: 260px 260px 260px;
  grid-column-gap: 200px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.wrapper .icons .icon_box .icon {
  text-align: center;
  align-items: center;
  max-width: 269px;
}

.wrapper .icons .icon_box .icon h3 {
  margin-top: 90px;
  margin-bottom: 40px;
  font-family: "Fivo Sans Bold";
  font-size: 24px;
  line-height: 60px;
  color: #3b3838;
}

.wrapper .icons .icon_box .icon span {
  font-family: "Fivo Sans Light";
  font-size: 18px;
  line-height: 27px;
  color: #6a7e7d;
  max-width: 250px;
}

.wrapper .advatages {
  margin-top: 275px;
  margin-bottom: 325px;
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
}

.wrapper .advatages .adv_box h3 {
  font-family: "Fivo Sans Bold";
  font-size: 50px;
  line-height: 60px;
  color: #3b3838;
  margin-bottom: 80px;
  margin-left: -90px;
}

.wrapper .advatages .adv_box ul {
  list-style-image: url(img/liststyle.png);
}

.wrapper .advatages .adv_box ul li {
  margin-bottom: 50px;
  max-width: 540px;
  font-family: "Fivo Sans Bold";
  color: #3b3838;
  font-size: 24px;
  line-height: 40px;
}

.wrapper .advatages .adv_box ul li span {
  font-family: "Fivo Sans Light";
  color: #6a7e7d;
  font-size: 18px;
  line-height: 40px;
}

.wrapper .advatages .adv_box ul li:hover {
  list-style-image: url(img/liststylehov.png);
}

.wrapper .advatages .art:first-child {
  margin-top: 215px;
}

.wrapper .advatages .art:nth-child(4) {
  margin-top: -163px;
}

.wrapper .info_box {
  display: grid;
  grid-template-columns: 560px 670px;
  grid-column-gap: 60px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 310px;
}

.wrapper .info_box h3 {
  font-family: "Fivo Sans Bold";
  color: #3b3838;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 80px;
}

.wrapper .info_box p {
  font-family: "Fivo Sans Light";
  color: #6a7e7d;
  font-size: 18px;
  line-height: 40px;
  margin-bottom: 65px;
  margin-left: 80px;
}

.wrapper .info_box a {
  color: #3cbef1;
  font-family: "Fivo Sans Oblique";
  font-size: 18px;
  line-height: 40px;
  margin-left: 80px;
}

.wrapper .ways_box {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  margin-bottom: 150px;
}

.wrapper .ways_box h3 {
  font-family: "Fivo Sans Bold";
  color: #3b3838;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 80px;
}

.wrapper .ways_box p {
  font-family: "Fivo Sans Light";
  color: #6a7e7d;
  font-size: 18px;
  line-height: 40px;
  margin-left: 80px;
  max-width: 545px;
  text-align: justify;
  text-indent: 60px;
}

.wrapper .ways_box .but {
  color: #3cbef1;
  font-family: "Fivo Sans Oblique";
  font-size: 18px;
  line-height: 40px;
  margin-left: 80px;
  margin-top: 65px;
}

.wrapper .ways_box .art:first-child {
  margin-top: -400px;
}

.wrapper .ways_box .art:nth-child(4) {
  margin-top: -250px;
}

.wrapper .ways_box .art .leave {
  position: absolute;
  right: 0;
  margin-top: 160px;
}
